@{
    ViewData["Title"] = "Home Page";
}
<div id="dropzone">
     <form asp-action="Index" asp-controller="Home" method="post" class="dropzone needsclick dz-clickable" id="myDropzone">
        <div class="dz-message needsclick">
            Drop files here or click to upload.<br>
        </div>
     </form>
</div>

 <span style="color:green">@Html.Raw(ViewBag.Message)</span>

@section Scripts{
    <script>
      // Note that the name "myDropzone" is the camelized
      // id of the form.
      Dropzone.options.myDropzone = {
        // Configuration options go here
      };
    </script>
}